.banner-user{
  height: 91.5vh;
}
.banner-user-elem{
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.banner-user-elem .banner-user-title{
  font-size: 64px;
  top: 40%;
  text-shadow: 0px 0px 5px #000000, 0 0 3px #1FC0BB;
  stroke: 1px solid #1FC0BB;
}
.banner-user-elem .banner-user-text{
  font-size: 30px;
  top: 40%;
  text-shadow: 0px 3px 5px #000000, 0 0 2px #1FC0BB;
}
.banner-anim-elem .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.banner-1{
  background-image: url("../../Images/Banner/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.banner-2{
  background-image: url("../../Images/Banner/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.banner-3{
  background-image: url("../../Images/Banner/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.banner-4{
  background-image: url("../../Images/Banner/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}