@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

.banner-user {
  height: 91.5vh;
}
.banner-user-elem {
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.banner-user-elem .banner-user-title {
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  font-size: 64px;
  top: 40%;
  text-shadow: 3px 3px 3px #000000, 0 0 3px #1fc0bb;
  stroke: 1px solid #1fc0bb;
}
.banner-user-elem .banner-user-text {
  font-family: "DotGothic16", sans-serif;
  font-size: 30px;
  top: 40%;
  text-shadow: 3px 3px 3px #000000, 0 0 2px #1fc0bb;
}
.banner-anim-elem .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
