.section{
  background: linear-gradient(rgb(51, 51, 51), #000514);
}
.policy-heading{
  color: #127572;
}
.policy-links{
  color: #127572;
}
.policy-links:hover{
  color: #127572;
  text-decoration: underline;
}