.section{
  background: linear-gradient(rgb(51, 51, 51), #000514);
}
.policy-heading{
  color: #127572;
}
.policy-links{
  color: #127572;
}
.policy-links:hover{
  color: #127572;
  text-decoration: underline;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #1FC0BB;
  font-weight: 500;
  }
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #1FC0BB;
}
.ant-tabs-ink-bar {
  background-color: #1FC0BB;
}
.ant-tabs-nav .ant-tabs-tab {
  display: inline-block;
  color: #bebebe;
}
.empty{
  height: 80vh;
}
.col-gray{
  color: #bebebe;
}
.col-teal{
  color: #1FC0BB;
}