.header {
  font-family: 'Noto Serif', serif;
  font-size: 46px;
  color: #bebebe;
}
.tagline {
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #bebebe;
}
.ant-card {
  background-color: transparent !important; 
  border: transparent 2px solid !important;
}
.card-icon{
  background-color: #1FC0BB;
  width: 64px;
  height: 64px;
  font-size: 40px;
  border-radius: 100%;
  padding-top: 11px;
}
.tech-name{
  color: white;
  font-size: 26px;
}
.tech-desc{
  color: #9ca9b3;
  font-size: 20px;
  font-weight: 300;
}